body{
    background-color: #b69090;
    font-family: Verdana, "Times New Roman", sans-serif;
}

.__heading__{
    background-color: white;
    text-align: center;
    font-size: 48px;
    color: #6e6c6c;
}


.recipe_div{
    display:block;
    width: 100%;
    margin: 0 auto;
    background-color: #6e6c6c;

}
ul{
    margin: 2px auto;
    padding: 10px 5px;


}
li{
    display: block;
    list-style: none;
    font-weight: 550;
    font-size: 20px;
    padding: 10px 5px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;

}
a{
padding-left: 50px;
}

.recipe{
    text-decoration: none;
    color: #631c1c;


}