body{
    background-color: #b69090;
    font-family: Verdana, "Times New Roman", sans-serif;
}

.__heading__{
    background-color: white;
    text-align: center;
    font-size: 48px;
    color: #6e6c6c;
}


.recipe_div{
    display:block;
    width: 100%;
    margin: 0 auto;
    background-color: #6e6c6c;

}
ul{
    display: inline-block;
    width: 100%;
    margin: 2px auto;
    padding: 10px 5px;
    list-style: none;


}

.recipe_li{
    display: inline-block;
    width: 29%;
    height: 500px;
    padding: 10px;
    margin: 9px;
    background-color: #a59595;
    border: 2px solid white;
    border-radius: 15px;
}

li{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}


.recipe{
    text-decoration: none;
    color: #631c1c;


}
.food_div{
    height: 470px;
    width: 200px;
    margin: 0 auto;

    position:relative;
    


}
.food_div img{
    height: 300px;
    width: auto;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
    border: 2px solid black;
    border-radius: 50%;
    /* transform: translateX(-50%); */

    
}

